body {
	padding-left: 20px;
	padding-right: 20px;
	background: #FFFAE4;
}


#photoWrapper {
	width: 50%;
	margin-left: 25%;
	background-color: #FFFAE4;
	padding: 10px 10px 10px 10px;
}
#thePhoto {
	width: 100%;
}
button {
	margin-top: 10px;
	background: #40627C;
	color: white;
}
#forwardBtn {
	position: static;
	float: right;
}
.centerMe {
	text-align: center;
	color: #26393D;
}
.bigWrapper {
	background-color: #E8E595;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
h1 {
	font-family: 'Damion', cursive;
}
#piechart {
	margin-left: 25%;
}